{% extends 'base_new.html.twig' %}
{% set title = 'Ankündigungen' %}

{% block content %}

<div class="row">
  <div class="grid-item col-xs-12">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#tab_1" data-toggle="tab">Aktiv</a>
        </li>
        <li>
          <a href="#tab_2" data-toggle="tab">Abgelaufen</a>
        </li>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PERSONAL') or is_granted('ROLE_DISPOSITION') %}
        <li class="btn btn-info pull-right" style="color:#fff!important;padding:0;margin:0;">
          <a href="{{path('announcement_new')}}" style="color:#fff;">Neue Ankündigung</a>
        </li>
        {% endif %}
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
          {% include 'AnnouncementsBundle:Announcement:partials/tabs.html.twig' with {
            'announcements' : announcementsActive
          } %}
        </div>
        <div class="tab-pane" id="tab_2">
          {% include 'AnnouncementsBundle:Announcement:partials/tabs.html.twig' with {
            'announcements' : announcementsExpired
          } %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
