  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1>{{ title }}</h1>
    <p><a class="btn btn-sm btn-primary" href="{{ path('app') }}" role="button">{% trans %}Zur Startseite {% endtrans %}</a></p>
  </div>
