{% extends 'base_new.html.twig' %}
{% set title = 'Abwesenheitstyp anlegen' %}

{% block content %}
  <div class="row">
    <div class="grid-item col-xs-12">
      <div class="row">
        {% embed "partials/box.html.twig" with {'class': 'col-xs-12', 'title': 'Statistik' } %}
            {% block content %}
              {{ form_start(form) }}
                  {{ form_widget(form) }}
                  <input type="submit" value="Anlegen" class="btn btn-info pull-right"/>
              {{ form_end(form) }}
            {% endblock %}
        {% endembed %}
      </div>
    </div>
  </div>
{% endblock %}
