{#% extends "::base.html.twig" %}

{% block title %}nรถ{% endblock %}

{% block content %}
Hello World!

{% for item in traces %}
    <div class="col-xs-12">
        <p class="lead">{{ item.source }}: {{ item.type }}</p>
    </div>
{% endfor %}


{% endblock %#}

{{ message }}
