{% extends 'base_new.html.twig' %}
{% set title = 'Neuer Länderspesensatz' %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <div class="row">
      {% embed "partials/box.html.twig" with {'class': 'col-xs-12', 'title': 'Länderspezifische Spesensätze' } %}
          {% block content %}
          {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="{% trans %}Anlegen{% endtrans %}" class="btn btn-info pull-right"/>
          {{ form_end(form) }}
          {% endblock %}
      {% endembed %}
    </div>
  </div>
</div>
{% endblock %}
