<tr>
  <td class="col-min">
    <span class="label label-danger"><i class="fa fa-times"></i></span>
  </td>
  <td>
    <strong>{{ audit_rename(log.source.typLabel) }}</strong> {{ audit_assoc(log.source) }} wurde
    {{ audit_blame(log.blame) }} gelöscht
  </td>
  <td class="col-min">{{ log.loggedAt|time_diff }}</td>
  <td class="col-min">
  </td>
</tr>
