<div class="box box-danger">
  <div class="box-header">
    <i class="fa fa-phone-square"></i>

    <h3 class="box-title">Telefonliste</h3>

  </div>
 
  <center> <h3><span class="label label-success bg-maroon " ><i class="fa fa-users"></i> Kransattel - Dispo </h3> 
   <table class="table table-hover">
                   <tbody>
                 <tr>
                 <td><i class="fa fa-user"></i>  Dennis Dütschke</td>
                  <td align='right'><a href="tel:02502230311" style="color:black"><i class="fa fa-phone"></i>
               <span class="label label-danger badge" >02502-2303-<font color="black">11</font> </span></a></td>
                </tr>
                <tr>
                 <td><i class="fa fa-user"></i> Lukas Rossmöller</td>
                  <td align='right'><a href="tel:02502230312" style="color:black"><i class="fa fa-phone"></i> <span class="label label-danger badge" >02502-2303-<font color="black">12</font></span></a></td>
                </tr>
                     <tr>
                  <td><i class="fa fa-user"></i> Raphael Gerling</td>
                  <td align='right'><a href="tel:02502230313" style="color:black"><i class="fa fa-phone"></i> <span class="label label-danger badge">02502-2303-<font color="black">13</font></span></a></td>
                </tr>
              </tbody></table>
</center> 
</br>
  <center> <h3> <span class="label label-primary bg-navy"> <i class="fa fa-users"></i> Motorwagen - Dispo </span></h3> 
   <table class="table table-hover">
                   <tbody>
                <tr>
                 <center> <td><i class="fa fa-user"></i> Katharina Stellbrink</td></center> 
                  <td align='right'><a href="tel:02502230321" style="color:black"><i class="fa fa-phone"></i> <span class="label label-danger badge" >02502-2303-<font color="black">21</font></span></a></td>
                </tr>
                     <tr>
                  <td><i class="fa fa-user"></i> Nicole Krysiak</td>
                  <td align='right'><a href="tel:02502230322" style="color:black"><i class="fa fa-phone"></i> <span class="label label-danger badge">02502-2303-<font color="black">22</font></span></a></td>
                </tr>

                      <tr>
                  <td><i class="fa fa-user"></i> Christian Bolz</td>
                  <td align='right'><a href="tel:02502230323" style="color:black"><i class="fa fa-phone"></i> <span class="label label-danger badge">02502-2303-<font color="black">23</font></span></a></td>
                </tr>

                      <tr>
                  <td><i class="fa fa-user"></i> Matthäus Siewert</td>
                  <td align='right'><a href="tel:02502230324" style="color:black"><i class="fa fa-phone"></i> <span class="label label-danger badge">02502-2303-<font color="black">24</font></span></a></td>
                </tr>

                      <tr>
                  <td><i class="fa fa-user"></i> Hugo Schulte-Wien</td>
                  <td align='right'><a href="tel:02502230325" style="color:black"><i class="fa fa-phone"></i> <span class="label label-danger badge">02502-2303-<font color="black">25</font></span></a></td>
                </tr>
              </tbody></table>
</center> 

  <center> <h3> <span class="label label-warning" ><i class="fa fa-users"></i> Planen - Dispo</span>	</h3> 
   <table class="table table-hover">
                   <tbody>
                <tr>
                 <center> <td><i class="fa fa-user"></i> Benedikt Hofbauer	</td></center> 
                  <td align='right'><a href="tel:02502230331" style="color:black"><i class="fa fa-phone"></i> <span class="label label-danger badge" >02502-2303-<font color="black">31</font></span></a></td>
                </tr>
                     <tr>
                  <td><i class="fa fa-user"></i> Roman Gleich</td>
                  <td align='right'><a href="tel:02502230332" style="color:black"><i class="fa fa-phone"></i> <span class="label label-danger badge">02502-2303-<font color="black">32</font></span></a></td>
                </tr>

              </tbody></table>
</center> 


  <center> <h3> <span class="label label-success" ><i class="fa fa-users"></i>  Personal</span> 		</h3> 
   <table class="table table-hover">
                   <tbody>
                <tr>
                 <center> <td> <i class="fa fa-user"></i> Simone Heimken	</td></center> 
                  <td align='right'><a href="tel:02502230351" style="color:black"><i class="fa fa-phone"></i> <span class="label label-danger badge" >02502-2303-<font color="black">51</font></span></a></td>
                </tr>
                     <tr>
                  <td> <i class="fa fa-user"></i> Fabian Höing</td>
                  <td align='right'><a href="tel:02502230352" style="color:black"><i class="fa fa-phone"></i> <span class="label label-danger badge">02502-2303-<font color="black">52</font></span></a></td>
                </tr>
                   <tr>
                  <td> <i class="fa fa-user"></i> Madeleine Busch</td>
                  <td align='right'><a href="tel:02502230354" style="color:black"><i class="fa fa-phone"></i> <span class="label label-danger badge">02502-2303-<font color="black">54</font></span></a></td>
                </tr>

              </tbody></table>
</center> 

  <center> <h3><span class="label label-primary"><i class="fa fa-users"></i>  Werkstatt		</h3> 
   <table class="table table-hover">
                   <tbody>
                <tr>
                 <center> <td> <i class="fa fa-user"></i> Jan Holters	</td></center> 
                 <td align='right'><a href="tel:02502230361" style="color:black"><i class="fa fa-phone"></i> <span class="label label-danger badge" >02502-2303-<font color="black">61</font></span></a></td>
                </tr>
           
          
              </tbody></table>
</center> 

  <center> <h3> <span class="label label-warning bg-lime" ><i class="fa fa-users"></i> Abrechnung	
		</h3> 
   <table class="table table-hover">
                   <tbody>
                <tr>
                 <center> <td> <i class="fa fa-user"></i> Susanne Autermann	</td></center> 
                  <td align='right'><a href="tel:02502230371" style="color:black"><i class="fa fa-phone"></i> <span class="label label-danger badge">02502-2303-<font color="black">71</font></span></a></td>
                </tr>
                     <tr>
                  <td> <i class="fa fa-user"></i> Daniel Haupt</td>
                  <td align='right'><a href="tel:02502230372" style="color:black"><i class="fa fa-phone"></i> <span class="label label-danger badge">02502-2303-<font color="black">72</font></span></a></td>
                </tr>
          
                  <tr>
                  <td> <i class="fa fa-user"></i> Gregor Krzeminski</td>
                  <td align='right'><a href="tel:02502230373" style="color:black"><i class="fa fa-phone"></i> <span class="label label-danger badge">02502-2303-<font color="black">73</font></span></a></td>
                </tr>
          
                  <tr>
                  <td> <i class="fa fa-user"></i> Gaby Muhl</td>
                  <td align='right'><a href="tel:02502230374" style="color:black"><i class="fa fa-phone"></i> <span class="label label-danger badge">02502-2303-<font color="black">74</font></span></a></td>
                </tr>
          

              </tbody></table>
</center> 

	
	
 <center> <h3> <span class="label label-success bg-orange" > <i class="fa fa-users"></i> Buchhaltung	
	
		</h3> 
   <table class="table table-hover">
                   <tbody>
                <tr>
                 <center> <td><i class="fa fa-user"></i> Kathrin Laakmann	</td></center> 
                  <td align='right'><a href="tel:02502230381" style="color:black"><i class="fa fa-phone"></i> <span class="label label-danger badge" >02502-2303-<font color="black">81</font></span></a></td>
                </tr>
                     <tr>
                  <td><i class="fa fa-user"></i> Christian Schwering</td>
                  <td align='right'><a href="tel:02502230382" style="color:black"><i class="fa fa-phone"></i> <span class="label label-danger badge">02502-2303-<font color="black">82</font></span></a></td>
                </tr>
          
                  <tr>
                  <td><i class="fa fa-user"></i> Birgit Gellenbeck</td>
                  <td align='right'><a href="tel:02502230383" style="color:black"><i class="fa fa-phone"></i> <span class="label label-danger badge">02502-2303-<font color="black">83</font></span></a></td>
                </tr>
              </tbody></table>
</center> 

 <center> <h1> <span class="label label-danger " > <i class="fa fa-medkit" aria-hidden="true"></i> </h1> 
   <table class="table table-hover">
                   <tbody>
                <tr>
           <center>  <td align='left'><a href="tel:015154628191" style="color:black"><i class="fa fa-ambulance" aria-hidden="true" ></i> <span class="label label-danger badge" ><font color="black">Dispo-Bereitschaft</font></span></a></td>
                  </center> 
                  <td align='right'><a href="tel:015154628191" style="color:black"> <font size="+1"><i class="fa fa-mobile">  </i></font>
                   <span class="label label-danger badge" ><font color="black">0151-54628191</font></span></a></td>
                </tr>
              <tr>
                 <center>  <td align='left'><a href="tel:02502230361" style="color:black"><i class="fa fa-ambulance" aria-hidden="true" ></i> <span class="label label-danger badge" ><font color="black">Werkstatt-Bereitschaft</font></span></a></td>
                  </center> 
                  <td align='right'><a href="tel:02502230361" style="color:black"><font size="+1"><i class="fa fa-mobile">  </i></font> <span class="label label-danger badge" ><font color="black">02502-2303-61</font></span></a></td>
                </tr>
                <tr>
                 <center>  <td align='left'><a href="tel:01748433255" style="color:black"><i class="fa fa-ambulance" aria-hidden="true" ></i> <span class="label label-danger badge" ><font color="black">Schaden-WhatsApp</font></span></a></td>
                  </center> 
                  <td align='right'><a href="tel:01748433255" style="color:black"><font size="+1"><i class="fa fa-whatsapp">  </i></font> <span class="label label-danger badge" ><font color="black">0174-8433255</font></span></a></td>
                </tr>
              </tbody></table>
</center> 

	
      <!-- /.item -->
 
   
    <div class="slimScrollBar" style="background: rgb(0, 0, 0) none repeat scroll 0% 0%; width: 7px; position: absolute; top: 63px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 187.126px;"></div>
    <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div>
  
  <!-- /.chat -->
  <!-- <div class="box-footer">
    <div class="input-group">
      <input class="form-control" placeholder="Type message...">

      <div class="input-group-btn">
        <button type="button" class="btn btn-success">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
  </div> -->

</div>
