<div class="box box-primary">
  <div class="box-header">
    <i class="fa fa-whatsapp"></i>
    <h3 class="box-title">WhatsApp Gruppe</h3>
</div>
  <div class="callout callout-primary ">

<center>
 <style>
 .badge {
   white-space:normal  !important;
 }
.ip-warning {
  border: 1px solid lightgray;
  border-radius:5px;
  cursor: pointer;
  min-height:30px;
  margin:2px;
  padding-top:5px;
  padding-left:52px;
  background-color: lightyellow;
  overflow:hidden;
  position: relative;
}
.ip-warning:before {
  float:left;
  position: absolute;
  padding:5px;
  top:0;
  left:0;
  height:100%;
  width:45px;
  font-weight:normal;
  font-family:"FontAwesome";
  font-size:31px;
  color: black;
  background-color: yellow;
  content:"";
}

 </style>
 <table class="table table-hover " >
        <tbody>

  
            <tr><td><h3><span class="label label-primary bg-teal badge" style="font-size: 20px;"><i class="fa fa-whatsapp"></i> G&L Notfall </span></h3> </td><td class="hidden-xs"><div class="ip-warning" style="font-size: 17px;"><strong>Während der Fahrt ist das Schreiben mit dem Smartphone verboten!</strong></div></td></tr>
             <tr class="hidden-sm hidden-md hidden-lg"><td><div class="ip-warning" style="font-size: 17px;"><strong>Während der Fahrt ist das Schreiben<br> mit dem Smartphone verboten!</strong></div></td> </tr>
              <tr height="50%" style="background-color: #39cccc42">
              <td><a href="https://chat.whatsapp.com/IPZsB4vxKtbFeHzJ96pEUM"> <center>  <img align="center" width="150px" height="150px"   src="/bundles/app/images/WhatsAppGL.png" alt="{% trans %}WhatsAppGL{% endtrans %}" /></a>
              
              </td>
              <td class="hidden-xs"> <div class="inner">
              <p>Hier kann jeder von   0.00 bis 24.00 Uhr seinen Notfall schildern - und wer gerade Online ist und ihm helfen kann, sollte ihm antworten und oder anrufen.<a href="https://chat.whatsapp.com/H4eF70K4cMt7ZvhlFLzwWe"> 
              </a>  
              </p> 
               <a href="https://chat.whatsapp.com/IPZsB4vxKtbFeHzJ96pEUM">
                  <span class="label label-danger badge" width="20%" height="20%">
                      <h2 style="font-size=13px"> JETZT ANMELDEN <i class="fa fa-arrow-circle-right"></i> </h2>
                  </span></a></div>
                 </td>
               </tr>

                <tr class="hidden-sm hidden-md hidden-lg"><td>
                    <div class="hidden-sm hidden-md hidden-lg">
                        <p >Hier kann jeder von   0.00 bis 24.00 Uhr seinen Notfall schildern - und wer gerade Online ist und ihm helfen kann, sollte ihm antworten und oder anrufen. Während der Fahrt ist das Schreiben mit dem Smartphone verboten!<a href="https://chat.whatsapp.com/H4eF70K4cMt7ZvhlFLzwWe"> 
                      </a>  
                      </p> 
                <a href="https://chat.whatsapp.com/IPZsB4vxKtbFeHzJ96pEUM">    
                 <center> <span class="label label-danger badge" width="20%" height="20%">   
                      <h3> JETZT ANMELDEN <i class="fa fa-arrow-circle-right"></i> </h3>
                  </span></center></a>
                  </div>
                </td>
              </tr>





              </tbody>
            </table>
        </center> 
      






<center>
 <table class="table table-hover " >
        <tbody>
             <tr><td colspan=2><h3><span class="label label-warning  bg-yellow badge"  style="font-size: 20px;"><i class="fa fa-whatsapp"></i> G&L Ideenmanagement </span></h3></td></tr>
              <tr height="50%" style="background-color: #f39c1254;">
              <td><a href="https://chat.whatsapp.com/JVrdy4P3NwnGxBCp3payOv"> <center>  <img align="center" width="150px" height="150px"   src="/bundles/app/images/WhatsAppGL.png" alt="{% trans %}WhatsAppGL{% endtrans %}" /></a>
              
              </td>
              <td class="hidden-xs"> <div class="inner">
              <p> Hier kann jeder neue Ideen einbringen, die von ausgewählten Personen bearbeitet werden. Während der Fahrt ist das Schreiben mit dem Smartphone verboten! <a href="https://chat.whatsapp.com/H4eF70K4cMt7ZvhlFLzwWe">
              </a>  
              <br>
               <br>Montag bis Freitag     von 18.00 bis 22.00 Uhr
               <br>Samstag bis Sonntag    von  0.00 bis 22.00 Uhr
               </p> 
               <a href="https://chat.whatsapp.com/JVrdy4P3NwnGxBCp3payOv">
                  <span class="label label-danger badge" width="20%" height="20%">
                      <h2 style="font-size=13px"> JETZT ANMELDEN <i class="fa fa-arrow-circle-right"></i> </h2>
                  </span></a></div>
                 </td>
               </tr>

                <tr class="hidden-sm hidden-md hidden-lg"><td>
                    <div class="hidden-sm hidden-md hidden-lg">
                        <p > Hier kann jeder neue Ideen einbringen, die von ausgewählten Personen bearbeitet werden. Während der Fahrt ist das Schreiben mit dem Smartphone verboten! <a href="https://chat.whatsapp.com/H4eF70K4cMt7ZvhlFLzwWe"> 
                      </a>  
                      <br>
                      <br>Montag bis Freitag     von 18.00 bis 22.00 Uhr
                      <br>Samstag bis Sonntag    von  0.00 bis 22.00 Uhr  
                      </p> 
                <a href="https://chat.whatsapp.com/JVrdy4P3NwnGxBCp3payOv">    
                 <center> <span class="label label-danger badge" width="20%" height="20%">   
                      <h3> JETZT ANMELDEN <i class="fa fa-arrow-circle-right"></i> </h3>
                  </span></center></a>
                  </div>
                </td>
              </tr>
                  </tbody>
            </table>
        </center> 

  <center>
  
   <table class="table table-hover " >
        <tbody>
        <tr><td colspan=2><h3><span class="label label-success  bg-lime badge" style="font-size: 20px;"><i class="fa fa-whatsapp"></i> G&L Abendprogramm </span></h3></td></tr>
              <tr height="50%" style="background-color: #01ff7026">
              <td><a href="https://chat.whatsapp.com/H4eF70K4cMt7ZvhlFLzwWe"> <center> <img align="center" width="150px" height="150px" src="/bundles/app/images/WhatsAppGL.png" alt="{% trans %}WhatsAppGL{% endtrans %}" /></a>
                
              </td>
              <td class="hidden-xs"> <div class="inner">
              <p > Hier kann jeder seine Meinungen, Informationen, Gespräche etc. austauschen. Während der Fahrt ist das Schreiben mit dem Smartphone verboten! <a href="https://chat.whatsapp.com/H4eF70K4cMt7ZvhlFLzwWe"> 
              </a>  
              <br>
               <br>Montag bis Freitag     von 18.00 bis 22.00 Uhr
               <br>Samstag bis Sonntag    von  0.00 bis 22.00 Uhr
              </p> 
               <a href="https://chat.whatsapp.com/H4eF70K4cMt7ZvhlFLzwWe">
                  <span class="label label-danger badge" width="20%" height="20%">
                      <h2 style="font-size=13px"> JETZT ANMELDEN <i class="fa fa-arrow-circle-right"></i> </h2>
                  </span></a></div>
                 </td>
               </tr>

                <tr class="hidden-sm hidden-md hidden-lg"><td>
                    <div class="hidden-sm hidden-md hidden-lg">
                        <p > Hier kann jeder seine Meinungen, Informationen, Gespräche etc. austauschen. Während der Fahrt ist das Schreiben mit dem Smartphone verboten!<a href="https://chat.whatsapp.com/H4eF70K4cMt7ZvhlFLzwWe"> 
                      </a> 
                      <br> 
                      <br>Montag bis Freitag     von 18.00 bis 22.00 Uhr
                      <br>Samstag bis Sonntag    von  0.00 bis 22.00 Uhr  
                      </p> 
                <a href="https://chat.whatsapp.com/H4eF70K4cMt7ZvhlFLzwWe">    
                 <center> <span class="label label-danger badge" width="20%" height="20%">   
                      <h3> JETZT ANMELDEN <i class="fa fa-arrow-circle-right"></i> </h3>
                  </span></center></a>
                  </div>
                </td>
              </tr>
                    </tbody>
            </table>
        </center> 
     
        </div>
   <div class="slimScrollBar" style="background: rgb(0, 0, 0) none repeat scroll 0% 0%; width: 7px; position: absolute; top: 63px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 187.126px;"></div>
    <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div>
  </div>
